{% extends 'base.html' %}

{% block title %} Category {% endblock title %}

{% block content %}

<div class="row" >
    <div class="col ">
        <h2>Target: Be a Web Developer</h2>
    </div>

    <div class="col ">
        <div class="float-right">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle float-right">This week</button>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle float-right">This week</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex">
        <h4>Sub-Target: Front-End </h4> 
    </div>
</div>

        
    <div class="row ">
        <!-- collume A -->
        <div class="col-sm">

            <div class="card bg-light mb-3" style="">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-success"> 22 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar bg-success " style="width: 85%;" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                85%
                            </div>
                        </div>
                    <p class="card-text ">
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-success"> 15 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar bg-success w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <p class="card-text ">
                    </p>
                </div>
            </div>
        </div>


        <!-- collume A -->
        <div class="col-sm">
            <div class="card bg-light mb-3" style="">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-warning"> 29 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar bg-warning " style="width: 65%;" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <p class="card-text ">
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-warning"> 29 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar bg-warning " style="width: 50%;" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <p class="card-text ">
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-warning"> 29 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar bg-warning " style="width: 40%;" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <p class="card-text ">
                    </p>
                </div>
            </div>
        </div>


        <!-- collume A -->
        <div class="col-sm">
            <div class="card bg-light mb-3" style="">
                <div class="card-body">

                    <h4 class="card-title font-weight-bold d-flex justify-content-between">
                        JS DOM & BOM
                        <span class="badge badge-pill badge-primary"> 17 day </span>
                    </h4>
                        <div class="progress">
                            <div class="progress-bar  w-25" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <p class="card-text ">

                    </p>
                </div>
              </div>
        </div>
    </div>
        

    
{% endblock content %}