{% extends 'main/base.html' %}

{% block title %} this-week {% endblock title %}

{% block content %}

{% include 'main/main-bar.html' %}


  
<!-- week table -->
<div class="row">
    <div class="col" >
        <div class="table-responsive text-center" >
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th >target</th>
                  <th>sat</th>
                  <th>sun</th>
                  <th>mon</th>
                  <th>tus</th>
                  <th>wed</th>
                  <th>thu</th>
                  <th>fri</th>
                  <th>Progression</th>
                </tr>
              </thead>
              <tbody>
                <!--  -->
              </tbody>
            </table>
        </div>
    </div>

</div>

<!-- week chart -->
<div class="row justify-content-start">
    <div class="col-8 ">

            <canvas id="myChart" >
            </canvas>
        
    </div>
</div>



{% endblock content %}