





<div class=""><h1> Targets </h1></div>

<ul class="list-group">

    
    <button class="btn p-0" data-toggle="collapse" data-target="#tl1">
        <li class="list-group-item d-flex justify-content-between ">
            Improve My English
            <span class="badge badge-primary badge-pill" style="max-height: 18px;">0</span>
        </li>
    </button>

        <div id="tl1" class="collapse">
            <li class="list-group-item">
                <button class="btn p-0 w-100">First Stage</button>
            </li>
            <li class="list-group-item">
                <button class="btn p-0 w-100">Second Stage</button>
            </li>
        </div>

        <!--  -->   <!--  -->   <!--  -->   <!--  -->   <!--  -->   <!--  -->   <!--  -->   

        <button class="btn p-0" data-toggle="collapse" data-target="#tl2">
            <li class="list-group-item d-flex justify-content-between ">
                Be a Web Developer
                <span class="badge badge-primary badge-pill" style="max-height: 18px;">0</span>
            </li>
        </button>

            <div id="tl2" class="collapse">
                <li class="list-group-item">
                    <button class="btn p-0 w-100">Front-End</button>
                </li>
                <li class="list-group-item">
                    <button class="btn p-0 w-100">Back-End</button>
                </li>
            </div>

    
</ul>
